# PandasでDataFrameの統計情報を表示するdescribe関数の使い方
## https://deepage.net/features/pandas-describe.html

In [2]:
import pandas as pd
import numpy as np # 乱数生成のためにNumPyをインポートしておく。

In [4]:
data = np.random.randint(-10,10,size=100).reshape(20,5)

In [5]:
df = pd.DataFrame(data,columns=['A','B','C','D','E'])

In [6]:
df # 数値の羅列だけだとよく分からない部分が多い

     A   B  C   D  E
0   -7  -6  1   3  0
1    3  -3 -7 -10 -1
2   -5  -5 -4  -6  9
3   -8   4  3  -9 -9
4  -10  -9 -9   0  3
5   -9  -6 -1   3  9
6   -7  -2 -3   3 -3
7    0  -9  3  -3  9
8   -2   4 -6   5  0
9   -8   4 -6  -5 -4
10  -9  -5 -3   5  0
11   8  -9 -6   1  7
12   2   5  6   4  5
13  -8  -8  5   0  8
14  -9   2  9   2  3
15  -4 -10 -5  -3  1
16   9   4 -5  -2 -9
17   6   1  1  -3 -5
18   5  -7  6  -4 -5
19   3 -10 -9  -2  6

In [7]:
df.describe() # describe関数でとりあえず概要表示

               A          B          C          D         E
count  20.000000  20.000000  20.000000  20.000000  20.00000
mean   -2.500000  -3.250000  -1.500000  -1.050000   1.20000
std     6.411339   5.495213   5.414406   4.406634   5.82734
min   -10.000000 -10.000000  -9.000000 -10.000000  -9.00000
25%    -8.000000  -8.250000  -6.000000  -3.250000  -3.25000
50%    -4.500000  -5.000000  -3.000000  -1.000000   0.50000
75%     3.000000   2.500000   3.000000   3.000000   6.25000
max     9.000000   5.000000   9.000000   5.000000   9.00000

### 上からcount,mean,std,min,25%,50%,75%,maxと並んでいますが統計をやったことのある方にはすぐにピンと来る名称だと思います。 
### 日本語に直しますと順にデータ個数、平均、標準偏差、最小値、第一四分位数、第二四分位数、第三四分位数、最大値と並んでいます。